# Игнорирование виртуального окружения
venv/

# Игнорирование папки с датасетом
chest_xray/

# Игнорирование кешей и временных файлов Python
__pycache__/
*.pyc

# Игнорирование файлов IDE
.vscode/
.idea/
